<h1>
    Cet email vous est envoyé par Bemine with Symfony !!
</h1>

<h2>Ceci est une vue twig</h2>
<p>Je peux renseigner le texte que je veux et y inclure des variables <strong>{{ name }}</strong></p>

<p>Du coup rien ne m'empêche de faire un email avec une partie dynamique comme cette url qui ne rime à rien</p>
<a href="#">http://bemine/accèsinvité/monslug-<strong>{{ name }}</strong>-group/</a>

<h3>
    Cool non ? !!
</h3>