<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lato:400,400i,700,700i" rel="stylesheet">

<div style="display: flex; justify-content: center;">
    <div style="width: 80%">
        <a style="text-decoration:none;" href="http://92.243.9.53/"><h1 style="color: #27374d; font-size: 5em; text-align: center; font-family: 'Dancing Script', cursive;">Be Mine</h1></a>

        <h2 style="color: #27374d; font-size: 2em; text-align: center; font-family: 'Dancing Script', cursive;">
            Vous êtes invité au mariage de {{ newlywed1.firstname }} et {{ newlywed2.firstname }}
        </h2>

        <h3 style="color: #27374d; font-size: 1.5em; text-align: center; font-family: 'Dancing Script', cursive;">
            Celui-ci se déroulera le {{ wedding.date|date('d/m/Y') }}
        </h3>
        

        <div style="background-color: #27374d; color: #fcfaf1; padding: 2em; font-family: 'Lato', sans-serif;">
            <p style="text-align: center;">
                Afin de les aider à organiser cet évènement, connectez-vous à l'espace invité.
                
            </p>
            <p style="text-align: center;">
                Vous y retrouverez toutes les informations qui vous seront utiles et surtout vous pourrez confirmer votre présence.
            </p>
    
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: center;">
                        <button style="width: 200px; background-color: #fbd99b; color: #27374d; padding: 0.5em; border-radius: 0.5em; color: #27374d !important; font-size: 1.1em;">
                            <a style="text-decoration: none;" href="http://92.243.9.53/guests/{{ guestGroup.slugUrl }}">
                                C'est par ici
                            </a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <footer>
            <table style="width: 100%; font-family: 'Lato';">
                <tr>
                    <td style="text-align: center;">Une question ? Un problème ?</td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a style="display: inline-block; color: #27374d;" href="mailto:oweddingteam@gmail.com">
                            oweddingteam@gmail.com
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a href="http://92.243.9.53/" style="display: inline-block; text-decoration:none; color: #27374d;">
                            BeMine
                        </a>
                            |  
                        <a style="display: inline-block; text-decoration:none; color: #27374d;" href="http://92.243.9.53/mentionlegal">
                            Mentions légales
                        </a>
                    </td>
                </tr>
            </table>
        </footer>
    </div>
</div>


